* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
  section{
    position: absolute;
    margin-top: 6rem;
    width: 100%;
  }
  .value-container{
    width: 70%;
    margin-left: 15%;
  }
  .contact{
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    /* border: 1px solid blue; */
  }
  .inputs{
    width: 100%;
    /* height: 700px; */
    /* border: 1px solid red; */
    background: #fff;
    box-shadow: 10px -10px 10px 10px grey;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 5px;
  }
  .email{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .solve{
    width: 70%;
    display: flex;
    margin-top: 1rem;
    
  }
  .view{
    width: 50%;
  }
  .button{
    width: 50%;
    height: 60px;
    background: #483d8b;
    border: 1px solid #483d8b;
    color: #fff;
    font-size: 17px;
    margin-bottom: 3rem;
  }
  .button:hover{
    border: #800080;
    background: #800080;
    cursor: pointer;
  }
  .checks{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .font{
    font-family: sans-serif;
    font-weight: lighter;
  }
  .check{
    width: 20px;
    margin-right: 2px;
  }
  .web{
    display: flex;
    align-items: center;
  }
  .digital{
    display: flex;
    align-items: center;
  }
  input{
    width: 100%;
    height: 50px;
  }
  .form-control{
    background: #fff;
    color: #000;
    padding:.375rem .75rem;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 3px;
    outline: none;
  }
  .form-control:focus{
    /* box-shadow: 10px 10px 10px 10px #ff0000; */
    border: 1px solid #800080;
  }
  label{
    font-size: 17px;
    font-family: sans-serif;
    color: #000;
  }
  .form-control::placeholder{
    color: #1a19198d;
    opacity: 1;
    font-size: 17px;
  }

  @media (max-width:40rem) {
    .value-container{
      width: 90%;
      margin-left: 5%;
    }
    .checks{
        display: flex;
        flex-direction: column;
    }
    .button{
      margin-bottom: 3rem;
    }
  }