* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
  section{
    position: absolute;
    margin-top: 6rem;
    width: 100%;
  }
  .value-container{
    width: 70%;
    margin-left: 15%;
  }
  .definition{
    width: 100%;
    font-size: 17px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
  }
  .inputs{
    width: 100%;
    /* height: 400px; */
    /* border: 1px solid red; */
    background: #fff;
    box-shadow: 10px -10px 10px 10px grey;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mass{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 5px;
  }
  .volume{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .solve{
    width: 70%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .answer{
    width: 70%;
    height: 70px;
    margin-top: 1rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    /* background: #008000; */
    border: 1px solid #29b429;
    background:  #29b429;
    color: #fff;
    /* opacity: 70%; */
    margin-bottom: 1rem;
    padding: .375rem .75rem;
    animation: 3s answer;
  }
  .error{
    border: 1px solid red;
    width: 70%;
    height: 70px;
    margin-top: 1rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    /* background: #008000; */
    border: 1px solid #ff0000;
    background:  #ff0000;
    color: #fff;
    /* opacity: 70%; */
    margin-bottom: 1rem;
    padding: .375rem .75rem;
    animation: 3s answer;
  }
  .explanation{
    width: 70%;
    font-weight: lighter;
    margin-bottom: 2rem;
    animation: 3s explain ;
  }
  .font{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-style: normal;
    line-height: 1.5;
    line-break: auto;
    color: #000;
  }
  .view{
    width: 50%;
  }
  .button{
    width: 50%;
    height: 60px;
    background: #483d8b;
    border: 1px solid #483d8b;
    color: #fff;
    font-size: 17px;
  }
  .button:hover{
    border: #800080;
    background: #800080;
    cursor: pointer;
  }
  input{
    width: 100%;
    height: 50px;
  }
  .form-control{
    background: #fff;
    color: #000;
    padding:.375rem .75rem;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 3px;
    outline: none;
  }
  .form-control:focus{
    /* box-shadow: 10px 10px 10px 10px #ff0000; */
    border: 1px solid #800080;
  }
  label{
    font-size: 17px;
    font-family: sans-serif;
    color: #000;
  }
  .form-control::placeholder{
    color: #1a19198d;
    opacity: 1;
    font-size: 17px;
  }

  @media (max-width:40rem) {
    .value-container{
      width: 90%;
      margin-left: 5%;
    }
    .answer{
      font-size: 20px;
      
    }
    .error{
      font-size: 20px;
    }
  }
  @keyframes explain {
    0%{
      margin-left: 100%;
    }
  }
  @keyframes answer {
    0%{
      margin-top: 100%;
    }
  }